<table data-layout="default">
    <colgroup>
        <col style="width: 68.0px;" />
        <col style="width: 124.0px;" />
        <col style="width: 328.0px;" />
        <col style="width: 48.0px;" />
        <col style="width: 48.0px;" />
        <col style="width: 48.0px;" />
        <col style="width: 48.0px;" />
        <col style="width: 48.0px;" />
    </colgroup>
      <tbody>
      {{#categories}}
        <tr>
          <td class="highlight-blue" data-highlight-colour="blue">
            <h6>{{category}} privileges</h6>
          </td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
          <td class="highlight-blue" data-highlight-colour="blue">&nbsp;</td>
        </tr>
        <tr>
          <th>
            <p>GUI Label <span style="color: rgb(239,239,239);">_________________</span></p>
          </th>
          <th>
            <p>Application Tag</p>
          </th>
          <th>
            <p>Privilege<span style="color: rgb(239,239,239);">____________________________________</span></p>
          </th>
          {{#roleheader}}
          <th class="highlight-{{roleheadform}}" data-highlight-colour="{{roleheadform}}"><p>{{rolename}}</p></th>
          {{/roleheader}}
          <th><p>Info</p></th>
        </tr> 
        {{#entries}}  
        <tr>
          <td>{{guiLabel}}</td>
          <td>{{appTag}}</td>
          <td>{{privilege}}</td>
          {{#roles}}
          {{#role}}
          <td class="highlight-{{roleformat}}" data-highlight-colour="{{roleformat}}">
          {{#rolehas}}		
          <p>{{roleMark}}</p>
          {{/rolehas}}
          {{^rolehas}}
          {{/rolehas}}
          </td>
          {{/role}}
          {{/roles}}
          {{#info}}
            <td><ac:emoticon ac:name="yellow-star"/></td>
          {{/info}}
          {{^info}}
            <td></td>
          {{/info}}
        </tr>
        {{/entries}}
      {{/categories}}   
      </tbody>
    </table>